<h2><%= @element.name %></h2>
<%= link_to "Edit details", edit_element_path(@element) %><br>

Date of last Periodic Inspection:<br>
<ul id="periodic-ul">
  <li><%= date_of_last_periodic %></li>
  <a href="#" id="show-all-periodics" data-element-id=<%= @element.id %>>Show all periodic inspections</a>
</ul>

<div id="ropes">
  <%= rope_details %>
</div>

<%= render partial: 'instructions', locals: {element: @element} %>
